.alert_container{
    display: grid;
    place-items: center;
    border-radius: .3rem;
    padding: .2rem;
}

.success{
    color: green;
    background: rgba(0, 128, 0, 0.1);
}
.danger{
    color: red;
    background: rgba(255, 0, 0, 0.1);
}