
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0.7), rgba(0, 0, 0, 1));
    z-index: 1;
}


.banner{
    position: relative;
    inset: 0;
    background: gainsboro;
    min-height: 100vh;
    background: url("./../../asset/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 2rem;
}


.banner aside{
    position: absolute;
    z-index: 2;
    top: 30%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.banner aside h2{
    color: white;
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
    ;
}

.banner aside h2 span{
    font-size: 3rem;
}

.info p{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 500;
    color: white;
}



/* @media screen and (max-width: 768px) {
    html{
        font-size: 75%;
    }
} */
@media screen and (max-width: 755px) {
    html{
        font-size: 62.5%;
    }


}



@media screen and (max-width: 320px) {
    html{
        font-size: 50%;
    }

    .banner aside{
        width: 100%;
    }
    .info p{
        font-size: 1.2rem;
        margin: 1rem 0;
        font-weight: 500;
        color: white;
    }
}