
.loader_container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    z-index: 10000;
    background: white;
}

.loader{
    box-sizing: border-box;
    max-width: fit-content;
    border-right: 2px solid black;
    font-size: 3rem;
    font-weight: 500;
    overflow: hidden;
    padding: 0 1rem;
    animation: 5s steps(50) infinite type,
    1s steps(30) infinite animate_caret;
}
.loader span{
    font-size: 4rem;
    font-weight: 700;
    color: orangered;
}

@keyframes identifier {
    
}

@keyframes type {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }    
}

@keyframes animate_caret {
    from, to{
        border-right: transparent;
        /* outline: transparent; */
    }
    50%{
        border-right: .5rem solid orangered;
        /* outline: 4px solid orangered; */
    }
}

@media screen and (max-width: 600px){
    .loader_container{
        display: none;
    }
}